<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/services"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item fill="solid">
      <ion-label position="floating">Nombre del servicio</ion-label>
      <ion-input [(ngModel)]="newService.nombre" [required]="true"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Capacidad</ion-label>
      <ion-input [(ngModel)]="newService.capacidad" [required]="true"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Url del Logo</ion-label>
      <ion-input [(ngModel)]="newService.urlLogo" [required]="true"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="success" (click)="createService()">Agregar Servicio</ion-button>
</ion-content>
