<ion-header>
  <ion-toolbar>
    <ion-title><h5>Servicios de streaming</h5></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="secondary" value="default" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="info">
      <ion-label>Informacion</ion-label>
    </ion-segment-button>
    <ion-segment-button value="edit">
      <ion-label>Editar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="currentSegment === 'edit'">
    <ion-item *ngFor="let servicio of servicios">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="{{servicio.data.urlLogo}}" />
      </ion-thumbnail>
      <ion-label><h3>{{servicio.data.nombre}}</h3></ion-label>
      <ion-button color="warning" (click)="editService(servicio)">Editar</ion-button>
    </ion-item>
  </ion-list>

  <ion-accordion-group *ngIf="currentSegment === 'info'">
    <ion-accordion value="first" *ngFor="let servicio of servicios" [value]="servicio.nombre">
      <ion-item slot="header" color="light">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="{{servicio.data.urlLogo}}" />
        </ion-thumbnail>
        <ion-label><h2>{{servicio.data.nombre}}</h2></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><h5>Capacidad: {{servicio.data.capacidad}}</h5></div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/create-service']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
